@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Todo App</PageTitle>

<h1>Todo</h1>

<div class="todo-wrapper" style="">
    <button class="btn-create" @onclick="CreateNewTask">Skapa ny</button>

    @foreach (var todo in todos)
    {
        <div class="todo-item">
            <input class="todo-input"
                   @bind="todo.Text"
                   disabled="@todo.IsDone"
                   style=""/>
            <input type="checkbox"
                   class="todo-checkbox"
                   @bind="todo.IsDone"
                   disabled="@todo.IsDone"/>
        </div>
    }
</div>

@code{
    private HubConnection? hubConnection;
    private List<Todo> todos { get; set; } = new List<Todo>();
    
    protected override async Task OnInitializedAsync()
    {    
        var serverTodos = await Http.GetFromJsonAsync<List<Todo>>("http://localhost:5193/todos");
        if (serverTodos != null)
            todos = serverTodos;
        
        hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5193/todohub")
            .Build();

        hubConnection.On<Todo>("UpdateTodo", (todo) =>
        {
            var existing = todos.FirstOrDefault(t => t.Text == todo.Text);
            if (existing != null)
            {
                existing.IsDone = todo.IsDone;
                existing.Text = todo.Text;
            }
            else
            {
                todos.Add(todo);
            }
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }
    
    private async Task OnTodoChanged(int index)
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("UpdateTodo", todos[index]);
        }
    }
    
    private async Task CreateNewTask()
    {
        var newTodo = new Todo();
        todos.Add(newTodo);
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("UpdateTodo", newTodo);
        }
    }

    public class Todo
    {
        public string Text { get; set; } = "";
        public bool IsDone { get; set; } = false;
    }

}